In [1]:
import pandas as pd

df = pd.read_csv('yelp_reviews_AZ_Phoenix.csv')
print(df.shape)
df.head()

(645685, 15)

,address,attributes,business_id,categories,city,latitude,longitude,name,postal_code,stars,state,date,review_stars,text,user_id
0,2450 E Indian School Rd,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,33.495194,-112.028588,Taco Bell,85016.0,3.0,AZ,2018-09-26 03:26:43,3,"I mean it's Taco Bell, so it is what it is. Ho...",Hw8mxfICqErjwIVsC5rXUw
1,2450 E Indian School Rd,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,33.495194,-112.028588,Taco Bell,85016.0,3.0,AZ,2012-03-06 14:06:35,1,"1 star for service, but the food is not ok :( ...",qfA3pCsmjRdKl3CYVZ4p7w
2,2450 E Indian School Rd,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,33.495194,-112.028588,Taco Bell,85016.0,3.0,AZ,2013-03-22 06:17:38,4,Taco Bell has really improved over the years a...,ZQsculZs_WMVFnBGQee1EQ
3,2450 E Indian School Rd,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,33.495194,-112.028588,Taco Bell,85016.0,3.0,AZ,2017-08-11 03:00:35,5,This is one of the most exquisite Taco Belles ...,8YHYABG7zc1s42OAMHAa6Q
4,2450 E Indian School Rd,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,33.495194,-112.028588,Taco Bell,85016.0,3.0,AZ,2011-03-31 21:20:25,4,What can you say about Taco Bell other than fr...,8ZPOQA5k0mfC8H-aJpRHOw

In [44]:
df[df['text'].str.contains('RV ', case=False, na=False)].name.value_counts()[:5]

La Mesa RV                     35
Bell Honda                     22
Showcase Honda                 20
Little Dealer Little Prices    18
ASAP Mobile RV Service          9
Name: name, dtype: int64

In [3]:
# Check if review text mentioned RV
df[df['text'].str.contains('RV | RV', case=False)].name.value_counts()[:5]

La Mesa RV                     45
Little Dealer Little Prices    24
Bell Honda                     22
Showcase Honda                 20
Going Places RV Rentals        20
Name: name, dtype: int64

In [47]:
print('Bell Honda', df[df['name']=='Bell Honda'].shape, 
      '\nShowcase Honda', df[df['name']=='Showcase Honda'].shape,
      '\nLittle Dealer Little Prices', df[df['name']=='Little Dealer Little Prices'].shape)

Bell Honda (555, 17)
Showcase Honda (493, 17)
Little Dealer Little Prices (82, 17)

In [53]:
df[df['name']=='Little Dealer Little Prices'].head(1)

,address,attributes,business_id,categories,city,latitude,longitude,name,review_count,stars,state,cool,date,funny,review_stars,text,useful
496036,2350 W Deer Valley Rd,"{'ByAppointmentOnly': 'None', 'BusinessAccepts...",rAVaMDOXgdTjvatokfvR9w,"Automotive, Car Dealers, RV Rental, Auto Parts...",Phoenix,33.684665,-112.109697,Little Dealer Little Prices,78,2.5,AZ,0,2017-05-13 06:57:59,0,1,they keep my trailer over 6 week to fix my hig...,2

In [52]:
df[df['name']=='La Mesa RV'].head(1)

,address,attributes,business_id,categories,city,latitude,longitude,name,review_count,stars,state,cool,date,funny,review_stars,text,useful
190337,7525 W McDowell Rd,{'BusinessAcceptsCreditCards': 'True'},d6iNGXjFjEUObGrwYC5RuA,"RV Dealers, Automotive",Phoenix,33.464545,-112.222967,La Mesa RV,63,2.0,AZ,0,2015-11-18 18:08:59,0,1,Worse service experience. The service man Mike...,6

In [45]:
df[df['text'].str.contains(' RV', case=False, na=False)].name.value_counts()[:5]

La Mesa RV                     45
Little Dealer Little Prices    24
Bell Road RV                    9
ASAP Mobile RV Service          9
Elite Rv Rentals                8
Name: name, dtype: int64

In [49]:
df[df['text'].str.contains('camper', case=False, na=False)].name.value_counts()[:5]

Camp Social                    39
Rock Star Boot Camp            15
Little Dealer Little Prices    14
La Mesa RV                      6
Discount Tire                   4
Name: name, dtype: int64

In [50]:
df[df['text'].str.contains('trailer', case=False, na=False)].name.value_counts()[:5]

The Duce                       56
Camp Social                    28
Little Dealer Little Prices    28
Welcome Diner                  27
Epic Game Trailer              18
Name: name, dtype: int64

In [4]:
import pandas as pd

df = pd.read_json('business.json', lines=True)
print(df.shape)
df.head()

(192609, 14)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC

In [36]:
df_AZ = df[df['state']=='AZ']
df_AZ = df_AZ[df_AZ['is_open']==1]
print(df_AZ.shape)
df_AZ.head()

(46910, 14)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
11,2450 E Indian School Rd,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,"{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...",1,33.495194,-112.028588,Taco Bell,85016,18,3.0,AZ
16,"4848 E Cactus Rd, Ste 100","{'BusinessAcceptsCreditCards': 'True', 'Busine...",giC3pVVFxCRR89rApqklyw,"Hair Stylists, Beauty & Spas, Hair Salons, Men...",Scottsdale,"{'Monday': '0:0-0:0', 'Tuesday': '9:0-19:0', '...",1,33.600071,-111.977371,Knot Salon,85254,5,5.0,AZ
31,"6875 N 21st Ave, Ste 118",None,mNBp4KI2goFJKDB9VLGP9w,"Automotive, Auto Repair",Phoenix,None,1,33.538024,-112.103201,JSE Automotive Services,85015,4,5.0,AZ
37,1318 S Vineyard,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",M9DM1ktbW-TB7nXu3Z4RDw,"Home Services, Real Estate, Apartments, Hotels...",Mesa,"{'Monday': '9:0-18:0', 'Tuesday': '9:0-18:0', ...",1,33.391003,-111.843620,Sonoma Village,85210,6,2.5,AZ

In [43]:
df_AZ_P = df_AZ[df_AZ['city']=='Phoenix']
print(df_AZ_P.shape)
df_AZ_P.head()

(15471, 14)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
11,2450 E Indian School Rd,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,"{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...",1,33.495194,-112.028588,Taco Bell,85016,18,3.0,AZ
31,"6875 N 21st Ave, Ste 118",None,mNBp4KI2goFJKDB9VLGP9w,"Automotive, Auto Repair",Phoenix,None,1,33.538024,-112.103201,JSE Automotive Services,85015,4,5.0,AZ
54,3101 W Northern Ave,{'BusinessAcceptsCreditCards': 'True'},c-BELKj0SvNhBesQMf-bKw,"Convenience Stores, Automotive, Food, Gas Stat...",Phoenix,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,33.552850,-112.125975,Circle K,85051,3,2.5,AZ
68,20645 N 28th St,"{'GoodForMeal': '{'dessert': False, 'latenight...",Y0dRlYjRNWckjvTGd55hzg,"Caterers, Event Planning & Services",Phoenix,None,1,33.674570,-112.021834,M Catering by Michael's,85050,7,5.0,AZ
72,233 E Camelback Rd,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",HYunM2pknhIh8lbiMa7THw,"Interior Design, Contractors, Hardware Stores,...",Phoenix,"{'Monday': '6:0-17:0', 'Tuesday': '6:0-17:0', ...",1,33.509011,-112.069667,Dunn-Edwards Paints,85012,16,3.0,AZ

In [42]:
df_AZ.city.value_counts()

Phoenix                        15471
Scottsdale                      7081
Mesa                            5149
Tempe                           3584
Chandler                        3524
Glendale                        2975
Gilbert                         2968
Peoria                          1663
Surprise                         993
Goodyear                         749
Avondale                         575
Cave Creek                       332
Fountain Hills                   280
Sun City                         239
Litchfield Park                  191
Tolleson                         126
Laveen                           114
El Mirage                        106
Paradise Valley                  103
Sun City West                    100
Queen Creek                       79
Carefree                          74
Buckeye                           66
Youngtown                         58
Sun Lakes                         29
Anthem                            23
Apache Junction                   22
Higley                            20
Waddell                           18
Guadalupe                         18
                               ...
Chandler-Gilbert                   1
SURPRISE                           1
Phoenix AZ                         1
Glbert                             1
GOODYEAR                           1
Sunnyslope                         1
Phx                                1
CAVE CREEK                         1
cave creek                         1
Central City                       1
North Phoenix                      1
surprise                           1
Fountain Hls                       1
TOLLESON                           1
GIlbert                            1
Suncity                            1
Phoneix                            1
Cave creek                         1
Phoniex                            1
Tucson                             1
Phoenix Metro Area                 1
Red Rock                           1
Phoenix                            1
Surprise Crossing                  1
Maricopa                           1
Phoeniix                           1
Ahwatukee Foothills Village        1
Stetson Valley                     1
Scotesdale                         1
                                   1
Name: city, Length: 128, dtype: int64

In [20]:
df[df['categories'].str.contains('Shopping', na=False)].shape

(31878, 14)

In [2]:
word = 'hello'
print(f'sd {word} ')

sd hello

In [8]:
df[df['categories'].str.contains(', Shopping', na=False)].shape

(24272, 14)

In [11]:
df[df['categories'].str.contains('Shopping, ', na=False)].shape

(24322, 14)

In [19]:
df[df['categories'].str.contains('Shopping, ' or ', Shopping'), na=False)].shape

(24322, 14)

In [ ]:
df[df['categories'].str.contains('Shopping', case=False, na=False)].shape